#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 50   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include "keys_jp.h"

&soft_off { hold-time-ms = <2000>; };

/ {
	behaviors {
		td0: td0 {
			compatible = "zmk,behavior-tap-dance";
			display-name = "Shift/Caps Lock Tap Dance";
			#binding-cells = <0>;
			bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
		};

		td1: td1 {
			compatible = "zmk,behavior-tap-dance";
			display-name = "command palette (windows) and toggle layer 4";
			#binding-cells = <0>;
			bindings = <&kp LG(LA(SPACE))>, <&tog 4>;
		};

		td2: td2 {
			compatible = "zmk,behavior-tap-dance";
			display-name = "alt tab + toggle 4";
			#binding-cells = <0>;
			bindings = <&kp LA(TAB)>, <&tog 4>;
		};

		td3: td3 {
			compatible = "zmk,behavior-tap-dance";
			display-name = "rgb + toggle 4";
			#binding-cells = <0>;
			bindings = <&rgb_ug RGB_TOG>, <&tog 4>;
		};

		rsr_vol: rsr_vol {
			compatible = "zmk,behavior-runtime-sensor-rotate";
			#sensor-binding-cells = <0>;
			tap-ms = <5>;
			cw-binding = <&kp C_VOL_UP>;
			ccw-binding = <&kp C_VOL_DN>;
		};

		rsr_rgb: rsr_rgb {
			compatible = "zmk,behavior-runtime-sensor-rotate";
			#sensor-binding-cells = <0>;
			tap-ms = <5>;
			cw-binding = <&rgb_ug RGB_BRI>;
			ccw-binding = <&rgb_ug RGB_BRD>;
		};

		rsr_trans: rsr_trans {
			compatible = "zmk,behavior-runtime-sensor-rotate";
			#sensor-binding-cells = <0>;
			tap-ms = <0>;
		};
	};

	combos {
		compatible = "zmk,combos";

		combo_lbrc {
			timeout-ms = <30>;
			key-positions = <14 15>;
			bindings = <&kp JP_LBRC>;
		};
		combo_lbkt {
			timeout-ms = <30>;
			key-positions = <15 16>;
			bindings = <&kp JP_LBKT>;
		};
		combo_lpar {
			timeout-ms = <30>;
			key-positions = <16 17>;
			bindings = <&kp JP_LPAR>;
		};
		combo_tilde {
			timeout-ms = <30>;
			key-positions = <14 17>;
			bindings = <&kp JP_TILDE>;
		};
		combo_lt {
			timeout-ms = <30>;
			key-positions = <14 18>;
			bindings = <&kp JP_LT>;
		};
		combo_eq {
			timeout-ms = <30>;
			key-positions = <15 17>;
			bindings = <&kp JP_EQUAL>;
		};

		combo_rbrc {
			timeout-ms = <30>;
			key-positions = <25 26>;
			bindings = <&kp JP_RBRC>;
		};
		combo_rbkt {
			timeout-ms = <30>;
			key-positions = <24 25>;
			bindings = <&kp JP_RBKT>;
		};
		combo_rpar {
			timeout-ms = <30>;
			key-positions = <23 24>;
			bindings = <&kp JP_RPAR>;
		};
		combo_und {
			timeout-ms = <30>;
			key-positions = <23 26>;
			bindings = <&kp JP_UNDER>;
		};
		combo_gt {
			timeout-ms = <30>;
			key-positions = <22 26>;
			bindings = <&kp JP_GT>;
		};
		combo_dash {
			timeout-ms = <30>;
			key-positions = <22 23>;
			bindings = <&kp JP_MINUS>;
		};
		combo_dquo {
			timeout-ms = <30>;
			key-positions = <23 25>;
			bindings = <&kp JP_DQT>;
		};
	};
//  0  1  2  3	4  5	       6      7  8  9 10 11 12
// 13 14 15 16 17 18	   19 20 21  22 23 24 25 26 27
// 28 29 30 31 32 33  34      35     36 37 38 39 40 41
//	    42 43 44		     45 46 47
	keymap {  
		compatible = "zmk,keymap";

		L0 {
			display-name = "QWERTY";
			bindings = <
&mt LGUI TAB &kp Q  &kp W  &kp E     &kp R     &kp T                &kp UP          &kp Y        &kp U     &kp I         &kp O       &kp P        &kp BSPC
&kp LSHFT    &kp A  &kp S  &kp D     &kp F     &kp G       &kp LEFT &td2 &kp RIGHT  &kp H        &kp J     &kp K         &kp L       &kp JP_SEMI  &mt RSHFT JP_COLON
&kp LCTRL    &kp Z  &kp X  &kp C     &kp V     &kp B  &td1          &kp DOWN        &kp N        &kp M     &kp JP_COMMA  &kp JP_DOT  &kp JP_FSLH  &mt RCTRL JP_BSLH
                           &kp LALT  &lt 2 ESC &lt 1 TAB                            &lt 5 ENTER  &kp SPACE &lt 3 DEL
			>;
			sensor-bindings = <&rsr_vol &rsr_trans>;
		};

		L1 {
			display-name = "NUM";
			bindings = <
&trans     &kp JP_AT     &kp JP_N7  &kp JP_N8  &kp JP_N9  &kp JP_CARET                   &mmv MOVE_UP               &kp JP_AT     &kp JP_N7  &kp JP_N8  &kp JP_N9  &kp JP_CARET &trans
&trans     &kp JP_MINUS  &kp JP_N4  &kp JP_N5  &kp JP_N6  &kp JP_COMMA    &mmv MOVE_LEFT &mkp MB1  &mmv MOVE_RIGHT  &kp JP_MINUS  &kp JP_N4  &kp JP_N5  &kp JP_N6  &kp JP_PLUS  &kp JP_STAR
&trans     &kp JP_N0     &kp JP_N1  &kp JP_N2  &kp JP_N3  &kp JP_DOT    &trans           &mmv MOVE_DOWN             &kp JP_N0     &kp JP_N1  &kp JP_N2  &kp JP_N3  &kp JP_DOT   &kp JP_COMMA
                                    &trans     &trans     &trans                                                    &trans        &trans     &trans
			>;
			sensor-bindings = <&rsr_vol &rsr_trans>;
		};

		L2 {
			display-name = "SYMBOL";
			bindings = <
&trans &kp CAPS     &kp JP_MHEN  &kp JP_ZKHK  &kp LG(SPACE)  &trans                  &trans          &kp JP_GRAVE  &kp JP_SQT   &kp JP_LPAR  &kp JP_RPAR  &kp JP_TILDE  &trans
&trans &kp LA(TAB)  &kp SPACE    &kp ENTER    &kp BSPC       &kp DEL         &trans  &trans  &trans  &kp JP_EQUAL  &kp JP_DLLR  &kp JP_PERC  &kp JP_AMPS  &kp JP_PIPE   &trans
&trans &trans       &trans       &trans       &trans         &trans   &trans         &trans          &kp JP_UNDER  &kp JP_EXCL  &kp JP_DQT   &kp JP_HASH  &trans        &trans
                                 &trans       &trans         &trans                                  &trans        &trans       &trans
			>;
			sensor-bindings = <&rsr_vol &rsr_trans>;
		};

		L3 {
			display-name = "FUNC";
			bindings = <
&trans   &kp F9   &kp F10  &kp F11  &kp F12  &trans                  &trans          &kp JP_AT    &kp JP_N7  &kp JP_N8  &kp JP_N9  &kp JP_CARET  &trans     
&trans   &kp F5   &kp F6   &kp F7   &kp F8   &trans          &trans  &trans  &trans  &kp JP_MINUS &kp JP_N4  &kp JP_N5  &kp JP_N6  &kp JP_PLUS   &kp JP_STAR  
&trans   &kp F1   &kp F2   &kp F3   &kp F4   &trans   &trans         &trans          &kp JP_N0    &kp JP_N1  &kp JP_N2  &kp JP_N3  &kp JP_DOT    &kp JP_COMMA 
                           &trans   &trans   &trans                                  &trans       &trans     &trans
			>;
			sensor-bindings = <&rsr_vol &rsr_trans>;
		};


		L4 {
			display-name = "MISC";
			bindings = <
&sys_reset   &trans  &trans  &trans  &bt BT_CLR      &bt BT_NXT                          &rgb_ug RGB_HUI                   &trans           &trans           &trans           &trans           &trans  &sys_reset     
&bootloader  &trans  &trans  &trans  &bt BT_CLR_ALL  &bt BT_PRV         &rgb_ug RGB_SAD  &td3             &rgb_ug RGB_SAI  &rgb_ug RGB_SPD  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &trans  &bootloader
&trans       &trans  &trans  &trans  &trans          &trans      &trans                  &rgb_ug RGB_HUD                   &trans           &trans           &trans           &trans           &trans  &trans 
                             &trans  &trans          &trans                                                                &trans           &trans           &trans
			>;
			sensor-bindings = <&rsr_rgb &rsr_trans>;
		};

		L5 {
			display-name = "MOUSE";
			bindings = <
&kp LA(F4)  &trans          &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &trans                         &trans          &kp HOME  &kp PG_UP  &kp PG_DN  &kp END    &trans  &trans
&trans      &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT        &trans  &trans  &trans  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans  &trans
&trans      &trans          &trans          &trans          &trans           &trans          &trans         &trans          &trans    &trans     &trans     &trans     &trans  &trans
                                            &trans          &mkp MB1         &mkp MB2                                       &trans    &trans     &trans
			>;
			sensor-bindings = <&rsr_vol &rsr_trans>;
		};
	};
};
